# Transpiled files
build/

# Node Modules
node_modules/

# log
log/
npm-debug.log

# IDEs
.idea/
.vscode/
.vscodelog/*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# Typescript Compilation
src/**/*.js
src/**/*.js.map
test/**/*.js
test/**/*.js.map
